@font-face {
	font-family: Bonveno;
	src: url("BonvenoCF-Light.otf") format("opentype");
}

/*** GLOBAL ***/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, h1, h2 {
	font-family: Bonveno;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.divider {
	width: 100%;
	border-bottom: 1px solid #000;
}

.mini-divider {
	width: 80%;
	border-bottom: 1px solid #000;
	margin: 10px auto;
}

.text-spacing {
	margin-top: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-right {
	text-align: right;
}

.up-arrow {
	width: 15px;
	margin: 10px;
	float: right;
	right: 0;
}

.up-arrow:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2 {
	font-weight: inherit;
	margin: inherit;
}

.center-img {
	display: block;
	margin: 0 auto;
}


/*** HEADER ***/
header {
	position: relative;
}

.title {
	font-size: 32pt;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	font-size: 16pt;
	color: #888;
}

nav li:hover {
	cursor: pointer;
	color: #000;
}

.language-nav {
	position: absolute;
	right: 0;
}

.language-nav li {
	display: inline-block;
	margin-right: 20px;
}

.language-nav li:hover {
	cursor: pointer;
}

.active-lang {
	border-bottom: 2px solid #000;
}


/*** BODY ***/
.content {
	margin-top: 20px;
}

.content, .person-container {
	color: #888;
}


.sub-title {
	margin-top: 40px;
	border-bottom: 1px solid #aaa;
}

.data-diagram-img {
	width: 500px;
}

.business-model-img , .data-pic{
	width: 600px;
}

.green-light {
	color: #86d125;
}

.orange-light {
	color: #f5a324;
}

.gray-light {
	color: #93928d;
}

.fact-highlight {
	font-size: 150%;
}

.cart-imgs {
	overflow: hidden;
}

.cart-imgs img {
	display: block;
	margin: 0 auto;
}


/*** TEAM ***/
.person-container {
	margin: 20px auto;
	overflow: hidden;
}

.person-row {
	margin-top: 20px;

}

.person-block {
	width: 199px;
	padding: 4px;
	display: inline-block;
	/*background-color: #f3f3f3;*/
	/*box-shadow: 2px 2px #EEE;*/
	clear: both;
}

.person-name {
	color: #333;
}

.person-header {
	margin-top: 5px;
}

.person-title {
	font-style: italic;
	font-size: 10pt;
	opacity: .7;
}

.person-block img {
	width: 100%;
}

.person-content {
	font-size: 10pt;
}


/*** FOOTER ***/
footer {
	margin-top: 40px;
}

footer img {
	display: block;
	margin: 0 auto;
	width: 80px;
}
