@font-face {
	font-family: Bonveno;
	src: url("BonvenoCF-Light.otf") format("opentype");
}

/*** GLOBAL ***/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, h1, h2 {
	font-family: Bonveno;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.divider {
	width: 100%;
	border-bottom: 1px solid #000;
}

.mini-divider {
	width: 80%;
	border-bottom: 1px solid #000;
	margin: 10px auto;
}

.text-spacing {
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2 {
	font-weight: inherit;
	margin: inherit;
}

.center-img {
	display: block;
	margin: 0 auto;
}


/*** HEADER ***/
header {
	position: relative;
}

.title {
	font-size: 32pt;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	font-size: 16pt;
	color: #888;
}

nav li:hover {
	cursor: pointer;
	color: #000;
}

.language-nav {
	position: absolute;
	right: 0;
}

.language-nav li {
	display: inline-block;
	margin-right: 20px;
}

.language-nav li:hover {
	cursor: pointer;
}

.active-lang {
	border-bottom: 2px solid #000;
}

/*** BODY ***/
.content {
	margin-top: 20px;
	color: #333;
}

.sub-title {
	margin-top: 40px;
	border-bottom: 1px solid #aaa;
}

.data-diagram-img {
	width: 500px;
}

.green-light {
	color: #86d125;
}


/*** TEAM ***/
.person-container {
	margin: 0 auto;
}

.person-row {
	margin-top: 20px;

}

.person-block {
	width: 199px;
	padding: 4px;
	border: 1px solid #777;
	border-radius: 2px;
	display: inline-block;
	margin: 0 20px;
}

.person-block-first {
	margin-left: 140px;
}

.person-name {

}

.person-title {
	font-style: italic;
	font-size: 10pt;
	opacity: .7;
}

.person-block img {
	width: 100%;
}

.person-content {
	font-size: 10pt;
}

