@font-face {
	font-family: Bonveno;
	src: url("BonvenoCF-Light.otf") format("opentype");
}

/*** GLOBAL ***/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, h1, h2 {
	font-family: Bonveno;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.divider {
	width: 100%;
	border-bottom: 1px solid #000;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2 {
	font-weight: inherit;
	margin: inherit;
}


/*** HEADER ***/
.title {
	font-size: 32pt;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	font-size: 16pt;
}


/*** INDEX ***/
.content {
	margin-top: 20px;
}

.sub-title {
	margin-top: 40px;
	border-bottom: 1px solid #000;
}


